<div class="testobj">
  <div class="testobj__item header">
    <h3 class="testobj__label">Testobjekt Id </h3>
    <h3 class="testobj__property">{{ someObject?.id }}</h3>
  </div>
  <div class="testobj__item">
    <h4 class="testobj__label">Name:</h4>
    <div class="testobj__property">{{ someObject?.name }}</div>
  </div>
  <div class="testobj__item">
    <h4 class="testobj__label">SomeNumber:</h4>
    <div class="testobj__property">{{ someObject?.someNumber }}</div>
  </div>
  <div class="testobj__item">
    <h4 class="testobj__label">Email:</h4>
    <div class="testobj__property">{{ someObject?.email }}</div>
  </div>
  <div class="testobj__action testobj__item">
    <button (click)="emitEvent('DELETE')">DELETE</button>
    <button (click)="emitEvent('EDIT')">EDIT</button>
  </div>
</div>
