@use './styles/variables' as vars;

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .form-field {

    label {
      font-size: vars.$font-size-base;
    }
    input {
      width: 400px;
      height: 40px;
      font-size: vars.$font-size-base;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  .form-action {
    display: flex;
    justify-content: center;

    .form-action__submit {
      margin-top: 20px;
      width: 300px;
      height: 40px;
      font-size: vars.$font-size-base;
      font-weight: bold;
      justify-self: center;
      justify-content: center;
      justify-items: center;
    }
  }
}

