@use './styles/theme.config';
@use './styles/variables';
@use './form';
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // Prevent horizontal scroll
  max-width: 100vw;
}

body {
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
  overflow-x: hidden; // Prevent horizontal scroll
}

.reset {
  margin: 0;
  padding: 0;
}
