@import 'form.scss';
/* You can add global styles to this file, and also import other style files */
:root{
  --text-size: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;

}

.reset {
  margin: 0;
  padding: 0;
}
